{% extends 'layouts/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>All Student Achievements</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Award</th>
                <th>Student Name</th>
                <th>Course</th>
                <th>Kafedra</th>
                <th>Date</th>
                <th>File</th>
            </tr>
        </thead>
        <tbody>
            {% for award in awards %}
            <tr>
                <td>{{ award.title }}</td>
                <td>{{ award.get_task_type_display }}</td>
                <td>{{ award.get_task_upload_display }}</td>
                <td>{{ award.student_fname }}</td>
                <td>{{ award.student_course }}</td>
                <td>{{ award.student_kafedra }}</td>
                <td>{{ award.date }}</td>
                <td>
                    {% if award.file_upload %}
                        <a href="{{ award.file_upload.url }}" target="_blank">Download</a>
                    {% else %}
                        No file
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
