{% extends 'layouts/baseV2.html' %}

{% block title %}Awards List{% endblock %}

{% block content %}

    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center py-3">
                <h6 class="m-0 font-weight-bold text-primary">O'quvchi sovrinlari</h6>
                <div class="customsetBTN d-flex justify-content-end align-items-center col-8">

                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Award</th>
                            <th>Student Name</th>
                            <th>Course</th>
                            <th>Kafedra</th>
                            <th>Date</th>
                            <th>File</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Award</th>
                            <th>Student Name</th>
                            <th>Course</th>
                            <th>Kafedra</th>
                            <th>Date</th>
                            <th>File</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for award in awards %}
                            <tr>
                                <td>{{ award.title }}</td>
                                <td>{{ award.get_task_type_display }}</td>
                                <td>{{ award.get_task_upload_display }}</td>
                                <td>{{ award.student_fname }}</td>
                                <td>{{ award.student_course }}</td>
                                <td>{{ award.student_kafedra }}</td>
                                <td>{{ award.date }}</td>
                                <td>
                                    {% if award.file_upload %}
                                        <a href="{{ award.file_upload.url }}" target="_blank">Download</a>
                                    {% else %}
                                        No file
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}