<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Assessment System</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    {% if  user.role == "ustoz" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'teacher-task-list' %}">My Tasks</a>
                    </li>
                        {% endif %} 
                    {% if user.role == "kafedra" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'kafedra-assessed-tasks' %}">Baholangan vazifalar</a>
                        </li>
                    {% endif %}

                    {% if user.role == "kafedra" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'kafedra-task-list' %}">Kafedra Panel</a>
                        </li>
                    {% elif user.role == "dekan" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dekan-task-list' %}">Dekan View</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
